{% extends 'lbforum/account/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load avatar_tags %}

{% block title %}
    {{ LBFORUM_TITLE }} - {% blocktrans %}{{ view_user }}'s profile{% endblocktrans %}
{% endblock %}

{% block content_content %}
    <div class="box">
        <div class="cell">
            <span class="fade">
                {% trans "Avatar" %}
            </span>
        </div>

        <div class="cell">
            <table border="0" cellpadding="5" cellspacing="0">
                <tbody><tr>
                        <td align="right" width="80">
                            {% trans "Current avatar" %}
                        </td>
                        <td align="left" width="200">
                            {% avatar user %}
                        </td>
                    </tr>
                </tbody></table>
        </div>
        <div class="inner">
            <form enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                <span class="fade">
                    {% trans "The allowed image file types are" %} gif, jpeg {% trans "and" %} png.
                </span>
                <div class="sep5"></div>
                <table border="0" cellpadding="5" cellspacing="0">
                    <tbody><tr>
                            <td align="right" width="80">
                                {% trans "Upload avatar file" %}
                            </td>
                            <td align="left" width="200">
                                <input type="file" name="avatar" value="{% trans "Avatar Image" %}" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="80">
                            </td>
                            <td align="left" width="200">
                                <input type="submit" class="super normal button" value="{% trans "Upload New Image" %}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
