include README.rst
include LICENSE
include MANIFEST.in
include requirements.txt
recursive-include lbforum/static *
recursive-include lbforum/fixtures *.json
recursive-include lbforum/templates *.html *.txt
recursive-include lbforum/locale *.po *.mo
recursive-include docs *
