<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}

	<head>
		<title>
			{% block title %} {{ LBFORUM_TITLE }} - {{ LBFORUM_SUB_TITLE }} {% endblock %}
		</title>
		{% include 'lbforum/inc_styles.html' %}
		{% block extra_header %}{% endblock %}
	</head>

	<body>
		{% block content %} {% endblock %}        
	</body>    
</html>
