{% load lbforum %}
{% load avatar_tags %}
<div class="post {% cycle 'odd' 'even' %} {{forloop|post_style}}" id="p{{post.pk}}">
    <div class="posthead">
        <h3 class="hn post-ident">
			<span class="post-num">{% page_item_idx page_obj forloop %}</span>
            <span class="post-byline">
                <span>Topic by </span>
                <a href="{% url user_profile post.posted_by.pk %}">{{post.posted_by.username}}</a>
            </span>
            <span class="post-link">
                {{ post.created_on|timesince }}
            </span>
        </h3>
    </div>
    <div class="postbody">
        <div class="post-author">
            <ul class="author-ident">
                <li class="useravatar"><a href="{% url user_profile post.posted_by.pk %}">{% avatar post.posted_by %}</a></li>
                <li class="username"> <a href="{% url user_profile post.posted_by.pk %}">{{post.posted_by.username}}</a> </li>
                <li class="usertitle"><span>Member</span></li>
                <li class="userstatus"><span>{{post.posted_by|online}}</span></li>
            </ul>
            <ul class="author-info">
                <li><span>Registered: <strong>{{ post.posted_by.date_joined|date:"Y-m-d" }}</strong></span></li>
                <li><span>Posts: <strong>{{ post.posted_by.lbforum_profile.get_total_posts  }}</strong></span></li>
            </ul>
        </div>
        <div class="post-entry">
            <div class="entry-content">
                <p>{{ post.message|bbcode|safe }}</p>
                <p>
                    {% for attachment in post.attachments.all %}
                    <a href="{{attachment.file.url}}">{{ attachment.org_filename }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
