{% load i18n %}
{% load lbforum %}
<div class="main-pagehead">
    <h2 class="hn">
		{% if forum %}
		<span><a href="{% url lbforum_forum_ext forum.slug 'good' %}">{% trans "Distillate District" %}</a></span>
		{% endif %}
		<span class="item-info">{% trans "Topics" %} [ {% page_range_info page_obj %} ]</span></h2>
</div>
<div class="main-subhead">
    <p class="item-summary forum-views">
        <span>
            <strong class="subject-title">{% trans "Topics" %}</strong> in this forum with details of 
            <strong class="info-replies">{% trans "replies" %}</strong>, 
            <strong class="info-views">{% trans "views" %}</strong>, 
            <strong class="info-lastpost">{% trans "last post" %}</strong>.
        </span>
    </p>
</div>
<div id="topicslist" class="main-content main-forum forum-views">
    {% for topic in topics %}     
    {% include 'lbforum/inc_topic_detail.html' %}  
    {% endfor %}
</div>
