<link rel="stylesheet" type="text/css" media="screen" href="{{ LBFORUM_MEDIA_PREFIX }}styles/Oxygen/Oxygen.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ LBFORUM_MEDIA_PREFIX }}styles/Oxygen/Oxygen_cs.css" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ LBFORUM_MEDIA_PREFIX }}styles/Oxygen/Oxygen_ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ LBFORUM_MEDIA_PREFIX }}styles/Oxygen/Oxygen_ie7.css" /><![endif]-->
