{% extends "lbforum/base.html" %}

{% load i18n %}

{% block extra_header %}
<meta http-equiv="refresh" content="5;URL={% block redirect_url %}{{ redirect_url }}{% endblock %}" />
{% endblock %}

{% block content %} 
<div id="brd-wrap" class="brd-page">
	<div id="brd-redirect" class="brd">
		<div id="brd-main" class="main basic">
			<div class="main-head">
				<h1 class="hn"><span>{% block main_head %}{% endblock %}</span></h1>
			</div>
			<div class="main-content main-message">
				<p>{% trans "You should automatically be forwarded to a new page in 5 second." %}
					<span>
						<a href="{% block redirect_url_ %}{{ redirect_url }}{% endblock %}">
							{% trans "Click here if you do not want to wait any longer (or if your browser does not automatically forward you)" %}
						</a>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
