{% extends "lbforum/base.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}

{% block title %}{{  block.super }}{% endblock %}

{% block content %}
    <div id="actionbox">
    </div>  

    <div id="brd-wrap" class="brd">
        <div id="brd-searchtopics" class="brd-page paged-page">
            {% include 'lbforum/inc_header.html' %}
            {% include 'lbforum/inc_announce.html' %}

            <div class="hr"><hr /></div>

            <div class="crumbs gen-content" id="brd-crumbs-top">
                <p>
                    <span class="crumb crumbfirst">
                        <a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
                    </span> 
                    <span class="crumb crumblast">
                        <span>&raquo;</span>
						{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}
                    </span> 
                </p>
            </div>

            <div id="brd-main">
                <div class="main-pagepost gen-content" id="brd-pagepost-top">
                    {% load pagination_tags %}
                    {% autopaginate topics 50 %}
                    {% paginate %}
                    <p class="posting">
                    </p>
                </div>
                <div class="main-head">
                    <h1 class="hn">
                        <span>
							{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}
                            <small></small>
                        </span>
                    </h1>
                </div>

                {% include 'lbforum/inc_topic_list.html' %}

                <div class="main-options gen-content">
                    <p class="options"></p>
                </div>

                <div class="main-pagepost gen-content" id="brd-pagepost-end">
                    {% paginate %}	
                    <p class="posting">
                    </p>
                </div>

            </div>

            <div class="crumbs gen-content" id="brd-crumbs-end">
                <p>
                    <span class="crumb crumbfirst">
                        <a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
                    </span> 
                    <span class="crumb crumblast">
                        <span>&raquo;</span>
						{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}
                    </span> 
                </p>
            </div>

            <div class="hr"><hr /></div>

            {% include 'lbforum/inc_copyright.html' %}

        </div>
    </div>
{% endblock %}
