{% extends "lbforum/base.html" %}

{% load lbforum_filters %}
{% load lbforum_tags %}
{% load i18n %}

{% block title %}{{  block.super }}{% endblock %}

{% block content %}
	<div id="actionbox">
	</div>  

	<div id="brd-wrap" class="brd">
		<div id="brd-login" class="brd-page basic-page">
			{% include 'lbforum/inc_header.html' %}
			{% include 'lbforum/inc_announce.html' %}
			<div class="hr"><hr /></div>
			<div class="crumbs gen-content" id="brd-crumbs-top">
				<p>
					<span class="crumb crumbfirst">
						<a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
					</span> 
					<span class="crumb crumblast">
						<span> &raquo; </span>
						{% trans "Login" %}
					</span> 
				</p>
			</div>
			<div class="main-wrapper" id="brd-main">


				<div class="main-head">
					<h1 class="hn"><span>{% blocktrans %}Login to {{ LBFORUM_TITLE }}{% endblocktrans %}</span></h1>
				</div>
				<div class="main-content main-frm">
					<div class="content-head">
						<p class="hn">{% trans "Do you need to" %} <a href="{% url registration_register %}">{% trans "register" %}</a>?</p>
					</div>
                    {% if form.errors %}
                        <div class="ct-box error-box">
                            <p class="errornote"> {% trans "Please correct the errors below." %} </p>
                            {{ form|form_all_error }}
                        </div>
                    {% endif %}
					<form action="" accept-charset="utf-8" method="post" class="frm-form" id="afocus">
						<div class="hidden">
							{% csrf_token %} 
						</div>
						<div class="frm-group group1">
							<div class="sf-set set1">
								<div class="sf-box text required">
									<label for="fld1"><span>{% trans "Username" %}: <em>({% trans "Required" %})</em></span></label><br>
									<span class="fld-input">{{form.username}}</span>
								</div>
							</div>
							<div class="sf-set set2">
								<div class="sf-box text required">
									<label for="fld2"><span>{% trans "Password" %}: <em>({% trans "Required" %})</em></span></label><br>
									<span class="fld-input">{{form.password}}</span>
								</div>
							</div>
							<div class="sf-set set3">
								<div class="sf-box checkbox">
									<span class="fld-input">{{form.remember}}</span>
									<label for="fld3"><span>{% trans "Remember me" %}:</span> {% trans "Log me in automatically each time I visit." %}</label>
								</div>
							</div>
						</div>
						<div class="frm-buttons">
							<span class="submit"><input type="submit" value="{% trans "Login" %}" name="login"></span>
						</div>
					</form>
				</div>
			</div>

			<div class="crumbs gen-content" id="brd-crumbs-end">
				<p>
					<span class="crumb crumbfirst">
						<a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
					</span> 
					<span class="crumb crumblast">
						<span> &raquo; </span>
						{% trans "Login" %}
					</span> 
				</p>
			</div>


			<div class="hr"><hr /></div>

			{% include 'lbforum/inc_copyright.html' %}

		</div>
	</div>
{% endblock %}
