{% extends 'account/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load avatar_tags %}

{% block title %}
	{{ LBFORUM_TITLE }} - {% trans "Change your password" %}
{% endblock %}

{% block brd-page-id %}brd-profile-password-change{% endblock %}

{% block main_menu_profile_class %}active{% endblock %}
{% block main_head %}{% blocktrans %}{{ user }}'s profile{% endblocktrans %} : {% trans "Change your password" %}{% endblock %}
{% block main_subhead %}{% trans "Change your password" %}{% endblock %}

{% block account_main_content %}
    {% if form.errors %}
        <div class="ct-box error-box" id="req-msg">
            <p class="errornote"> {% trans "Please correct the errors below." %}</p>
            {{ form|form_all_error }}
        </div>
    {% endif %}
    <form action="" accept-charset="utf-8" method="post" class="frm-form" id="afocus">
        <div class="hidden">
            {% csrf_token %}
        </div>
        <fieldset class="frm-group group1">
            <legend class="group-legend"><strong>{% trans "Required information" %}</strong></legend>
            <div class="sf-set set1">
                <div class="sf-box text required">
                    <label for="fld1"><span>{% trans 'Old password' %}: <em>({% trans "Required" %})</em></span> <small>{% trans "You must enter your existing password." %}</small></label><br>
                    <span class="fld-input">{{ form.old_password }}</span>
                </div>
            </div>
            <div class="sf-set set2">
                <div class="sf-box text required">
                    <label for="fld2"><span>{% trans 'New password' %}: <em>({% trans "Required" %})</em></span> <small>{% trans "Minimum 6 characters. Case sensitive." %}</small></label><br>
                    <span class="fld-input">{{ form.new_password1 }}</span><br>
                </div>
            </div>
            <div class="sf-set set3">
                <div class="sf-box text required">
                    <label for="fld3"><span>{% trans 'Password (again)' %}: <em>({% trans "Required" %})</em></span> <small>{% trans "Re-enter your password exactly as before." %}</small></label><br>
                    <span class="fld-input">{{ form.new_password2 }}</span><br>
                </div>
            </div>
        </fieldset>
        <div class="frm-buttons">
            <span class="submit"><input type="submit" value="{% trans 'Change my password' %}" class="default" /></span>
        </div>
    </form>
{% endblock %}
