{% load i18n %}
<div class="box" id="forums-box">
    <div class="cell">
        <span class="fade">{% trans "Forums" %}</span>
    </div>
    <div class="inner">
        {% for category in categories %}
        <strong class="green">{{ category }}</strong><br/>
        {% for forum in category.forum_set.all %}
        <a class="item_node" href="{% url lbforum_forum forum.slug %}"><span> {{forum}} </span></a>
        {% endfor %}
        <br/>
        {% endfor %}
    </div>
</div>
