{% load avatar_tags %}
{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load lbforum_widget_tags %}

{% if user.is_authenticated %}
<div class="box">
    <div class="cell">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody><tr>
                    <td width="48" valign="top">
                        <a href="{% url lbforum_user_profile user.pk %}">{% avatar user 48 %}</a>
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" align="left">
                        <span class="bigger"><a href="{% url lbforum_user_profile user.pk %}">{{ user }}</a></span>
                        <div class="sep5"></div>
                        <span class="fade"></span>
                    </td>
                </tr>
            </tbody></table>
    </div>
    <div class="inner">
        <span class="fade">{% trans "Registered" %}: <strong>{{user.date_joined|date:"Y-m-d"}}</strong></span>
    </div>
</div>
{% else %}
<div class="box">
    <div class="cell">
        <strong>{{LBFORUM_TITLE}}</strong>
        <div class="sep5"></div>
        <span class="fade">{{LBFORUM_SUB_TITLE}}</span>
    </div>
    <div class="inner">
        <div class="sep5"></div>
        <div align="center">
            <a href="{{ REGISTER_URL }}" class="super normal button">{% trans "Register" %}</a>
            <div class="sep5"></div>
            <div class="sep10"></div>
            OR <a href="{{ LOGIN_URL }}">{% trans "Login" %}</a>
        </div>
    </div>
</div>
{% endif %}
