{% load i18n %}
<div class="box" id="forums-box">
    <div class="cell">
        <span class="fade">
            {% trans "Currently online" %} <strong> {{ total_onlines }} </strong>
            ( <strong> {{ total_onlines_guest }} </strong> {% trans "guests" %}, <strong>{{ total_onlines_user }}</strong> {% trans "registered user" %} )
        </span>
    </div>
    <div class="inner">
        {% for o in online_users %} <a class="item_node" href="{% url lbforum_user_profile o.user_id %}">{{o.username}}</a> {% endfor %}        
        {% for forum in category.forum_set.all %}
        <a class="item_node" href="{% url lbforum_forum forum.slug %}"><span> {{forum}} </span></a>
        {% endfor %}
    </div>
</div>
