{% extends 'lbforum/account/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load avatar_tags %}

{% block title %}
	{{ LBFORUM_TITLE }} - {% blocktrans %}{{ user }}'s profile{% endblocktrans %} : {% trans "Avatar" %}
{% endblock %}

{% block brd-page-id %}brd-profile-avatar{% endblock %}

{% block main_menu_avatar_class %}active{% endblock %}
{% block main_head %}{% blocktrans %}{{ user }}'s profile{% endblocktrans %} : {% trans "Avatar" %}{% endblock %}
{% block main_subhead %}{% trans "Set an avatar image to enhance your forum identity" %}{% endblock %}

{% block account_main_content %}
	{% if form.errors %}
		<div class="ct-box error-box" id="req-msg">
			<p class="errornote"> {% trans "Please correct the errors below." %}  </p>
			{{ avatar_form|form_all_error }}
		</div>
	{% endif %}
    <form enctype="multipart/form-data" method="POST" action="">
        <div class="hidden">
            {% csrf_token %}
        </div>
        <fieldset class="frm-group group1">
            <legend class="group-legend"><strong>{% trans "Avatar" %}</strong></legend>
            <div class="ct-set info-set set1">
                <div class="ct-box info-box">
                    <h3 class="hn ct-legend">{% trans "Current avatar" %}</h3>
                    <p>{% avatar user %}</p>
                </div>
            </div>
            <div class="sf-set set3">
                <div class="sf-box text">
                    <label for="fld1"><span>{% trans "Upload avatar file" %}:</span>
						<small>
							{% trans "The allowed image file types are" %} gif, jpeg {% trans "and" %} png.
						</small>
					</label><br>
                    <span class="fld-input"><input type="file" name="avatar" value="{% trans "Avatar Image" %}" /></span>
                </div>
            </div>
        </fieldset>
        <div class="frm-buttons">
            <span class="submit"><input type="submit" value="{% trans "Upload New Image" %}" /></span>
        </div>
    </form>
{% endblock %}
