{% extends 'lbforum/base.html' %}

{% block title %} {{ LBFORUM_TITLE }} - {{ LBFORUM_SUB_TITLE }} {% endblock %}

{% block content %}
    {% include 'lbforum/inc_header.html' %}

    <div id="Wrapper">
        <div id="Main">
            <div id="Sidebar">
            </div>

            <div id="Rightbar">
                {% block content_right_bar%}
                {% endblock %}
            </div>

            <div id="Content">
                {% block content_content %}
                {% endblock %}
            </div>

            <div class="c">
            </div>
        </div>
    </div>

    {% include 'lbforum/plugins/inc_footer.html'%}

{% endblock %}
