{% load i18n %}
<div id="Top">
    <div id="TopMain">
        <p id="title"><a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a></p>
        <div id="Navigation">
            <ul>
                {% include 'lbforum/plugins/inc_header_left_links.html' %}
                {% if user.is_authenticated %}
                <li id="navprofile"><a href="{% url lbforum_account_index %}">{% trans "My profile" %}</a></li>
                <li id="navlogout"><a href="{{ LOGOUT_URL }}?next={% url lbforum_index %}">{% trans "Logout" %}</a></li>
                {% else %}
                <li id="navregister"><a href="{{ REGISTER_URL }}">{% trans "Register" %}</a></li>
                <li id="navlogin"><a href="{{ LOGIN_URL }}">{% trans "Login" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="Search">
			<form>
				<input type="text" class="search" maxlength="40" name="q" value="" id="q">
				<input type="submit" class="super normal button" value="Search" style="-moz-border-radius: 0px 5px 5px 0px; border: none;">
			</form>
		</div>
    </div>
</div>
