{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}

{% if not post.topic_post or not post.topic.need_reply or has_replied %}
<p>{% bbcode post.message has_replied %}</p>
{% if post.edited_by %}
<p class="postedit"><em>Last edited by {{post.edited_by}} ({{post.updated_on|date:"Y-m-d H:i"}})</em></p>
{% endif %}
{% if post.has_attachments %}
<div class="entry-attachments">
    <b>{% trans "Attachments" %}:</b>
    <ul>
        {% for attachment in post.file_attachments %}
        <li>
            {% show_attach attachment post has_replied hide_attachs %}
            <span>{{ attachment.description }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if post.has_imgs %}
<div class="entry-attachments-img-s" id="entry-attachments-img-s{{ post.id }}">
    <a href="#"><b>{% trans "Show Image Attachments" %}</b></a>
</div>
<div class="entry-attachments-img" id="entry-attachments-img-{{ post.id }}">
    <b>{% trans "Image Attachments" %}:</b>
    <ul>
        {% for attachment in post.img_attachments %}
        <li>
            {% show_attach attachment post has_replied hide_attachs %}
            <span>{{ attachment.description }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% else %}
<span class="need-reply">{% trans "to see the content, user must reply first." %}</span>
{% endif %}
{% if 0 %}
<!-- not support signature -->
<div class="sig-content"> 
    <span class="sig-line"><!-- --></span>
    {{ post.posted_by.lbforum_profile.signature|bbcode|safe }}
</div>
{% endif %}

