{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load lbforum_widget_tags %}

{% block title %}
    {{ forum }} - {{ topic_type }} - {{ topic_type2 }} - {{ LBFORUM_TITLE }}
{% endblock %}

{% block content_right_bar %}
    {% include 'lbforum/widgets/cur_user_profile.html' %}
    <div class="sep20"></div>
    {% lbf_categories_and_forums %}
{% endblock %}

{% block content_content %}
    <div class="box">
        <div class="cell">
            <a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
            <span class="chevron">&raquo;</span>
            {% trans "Recent Topics" %}
        </div>
        {% load pagination_tags %}
        {% autopaginate topics FORUM_PAGE_SIZE %}
        {% include 'lbforum/inc_topic_list.html' %}
        <div class="inner">
            {% paginate %}
        </div>
    </div>
{% endblock %}
