{% extends "lbforum/base_site.html" %}

{% load i18n %}

{% block extra_header %}
<meta http-equiv="refresh" content="55;URL={% block redirect_url %}{{ redirect_url }}{% endblock %}" />
{% endblock %}

{% block content_content %} 
    <div class="box">
        <div class="cell">
            <h1>
                {% block main_head %}{% endblock %}
            </h1>
        </div>
        <div class="inner">
            <div class="content">
                {% trans "You should automatically be forwarded to a new page in 5 second." %}
                <br/>
                <a href="{% block redirect_url_ %}{{ redirect_url }}{% endblock %}">
                    {% trans "Click here if you do not want to wait any longer (or if your browser does not automatically forward you)" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
