{% load i18n %}
{% load lbforum_tags %}
{% load lbforum_filters %}
{% load avatar_tags %}

<div class="box">
    <div class="inner">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="73" valign="top" align="center">
                        {% avatar view_user %}
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" valign="top" align="left">
                        <h2 style="padding: 0px; margin: 0px; font-size: 22px; line-height: 22px;">{{view_user.username}}</h2>
                        <div class="sep5"></div>
                        <span class="snow">
                            {% trans "Registered" %}: <strong>{{view_user.date_joined|date:"Y-m-d"}}</strong>
                        </span>
                        <div class="sep10"></div>
                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                            <tbody>
                                <tr>
                                    <td width="50%">
                                        {% trans "Topics" %}: <strong>{{view_user.topic_set.all.count}}</strong>
                                    </td>
                                    <td width="50%">
                                        {% trans "Posts" %}: <strong>{{view_user.post_set.all.count}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <a href="{% url lbforum_user_topics view_user.pk %}">{% blocktrans %}View all {{view_user}}'s topics{% endblocktrans %}</a>
                                    </td>
                                    <td width="50%">
                                        <a href="{% url lbforum_user_posts view_user.pk %}">{% blocktrans %}View all {{view_user}}'s posts{% endblocktrans %}</a>
                                    </td>
                                </tr>

                            </tbody></table>
                    </td>
                </tr>
            </tbody></table>
    </div>
</div>
