{% extends 'lbforum/base_site.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load avatar_tags %}

{% block title %}
    {{ LBFORUM_TITLE }} - {% blocktrans %}{{ view_user }}'s profile{% endblocktrans %}
{% endblock %}

{% block content_right_bar %}
    {% include 'lbforum/widgets/cur_user_profile.html' %}
{% endblock %}

{% block content_content %}
    {% include 'lbforum/account/inc_base_profile.html' %}

    <div class="sep20"></div>
    {% load pagination_tags %}
    {% autopaginate posts 50 %}
    <div class="box">
        <div class="cell">
            <span class="fade">{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}</span>
        </div>
        {% for post in posts %}     
            <div class="cell reply">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                            <td width="auto" valign="top">
                                <div id="reply-btns" class="fr">
                                    <strong>
                                        <small class="snow">#{% page_item_idx page_obj forloop %} - {{ post.created_on|lbtimesince }}</small>
                                    </strong>
                                </div>

                                <div class="sep3"></div>
                                <strong>
                                    <a href="{{ post.get_absolute_url }}">{{ post.subject }}</a> 
                                </strong>
                                <div class="sep5"></div>
                                <div class="content reply_content">
                                    {{ post.message|bbcode|safe }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div class="inner">
            {% paginate %}	
        </div>
    </div>
{% endblock %}
