{% extends "lbforum/base.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load djangohelper_tags %}

{% block title %}
    {{ forum }} - {{ topic_type }} - {{ topic_type2 }} - {{ LBFORUM_TITLE }}
{% endblock %}

{% block content %}
	<div id="actionbox">
	</div>  

	<div id="brd-wrap" class="brd">
		<div id="brd-viewforum" class="brd-page paged-page">
			{% include 'lbforum/inc_header.html' %}
			{% include 'lbforum/inc_announce.html' %}

			<div class="hr"><hr /></div>

			<div class="crumbs gen-content" id="brd-crumbs-top">
                {% include 'lbforum/inc_forum_brd_crumbs.html' %}
			</div>

<!-- brd-main begin -->
<div id="brd-main">
	<div class="main-pagepost gen-content" id="brd-pagepost-top">
		{% load pagination_tags %}
		{% autopaginate topics FORUM_PAGE_SIZE %}
		{% paginate %}
        <p class="posting">
            {% if user.is_authenticated %}
                <a class="newpost" href="{% url lbforum_new_topic forum.pk %}"><span>{% trans "Post new topic" %}</span></a>
            {% else %}
                {% trans "You must" %} <a href="{{ LOGIN_URL }}">{% trans "Login" %}</a> {% trans "or" %} <a href="{{ REGISTER_URL }}">{% trans "register" %}</a> {% trans "to post a topic" %}
            {% endif %} 
        </p>
	</div>
	<div class="main-head">
        <h1 class="hn"><span><a title="Permanent link to this forum." rel="bookmark" href="{% url lbforum_forum forum.slug %}" class="permalink">{{ forum }}</a> <small></small></span></h1>
	</div>

    {% include 'lbforum/inc_topic_list.html' %}

    <div class="main-options gen-content">
        <p class="options"></p>
    </div>

	<div class="main-pagepost gen-content" id="brd-pagepost-end">
        {% paginate %}	
		<p class="posting">
            {% if user.is_authenticated %}
                <a class="newpost" href="{% url lbforum_new_topic forum.pk %}"><span>{% trans "Post new topic" %}</span></a>
            {% else %}
                {% trans "You must" %} <a href="{{ LOGIN_URL }}">{% trans "Login" %}</a> {% trans "or" %} <a href="{{ REGISTER_URL }}">{% trans "register" %}</a> {% trans "to post a topic" %}
            {% endif %} 
        </p>
	</div>
</div>
<!-- brd-main ends -->


<div class="crumbs gen-content" id="brd-crumbs-end">
    <p id="forum_order_by">
        {% trans "Order By"%}:
        {{ form.order_by }}
    </p>
    {% include 'lbforum/inc_forum_brd_crumbs.html' %}
</div>

<div class="hr"><hr /></div>

{% include 'lbforum/inc_copyright.html' %}

  </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}lbforum/scripts/jquery.min.js"></script>
<script type="text/javascript">
    $('#id_order_by').change(function () {
        window.location.href="?order_by=" + $('#id_order_by').val() + "{% getvars request 'order_by'%}";
    })
</script>
{% endblock %}
