{% load socialauth_tags %}

<div id="brd-head" class="gen-content">
  <p id="brd-access"><a href="#brd-main">Skip to forum content</a></p>
  <p id="brd-title"><a href="{% url dinette_category %}">{{ config.name }}</a></p>
  <p id="brd-desc">{{ config.tag_line }}</p>
</div>

<div id="brd-visit" class="gen-content">
  <p id="welcome">
	{% if user.is_authenticated %}
	  <p>
		Hello {% get_calculated_username user %}, <a href='{% url socialauth_social_logout %}'>Logout</a>	  
	  </p>
	{% else %}
	  <p><a href="{% url dinette_login %}">Login</a></p>
	{% endif %}
  </p>
</div>	

	