{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
<div id="topic{{ topic.pk }}" class="main-item {% cycle 'odd' 'even' %} {% if forloop.first %}main-item1{% endif %} {{topic|topic_state}}">
  <span class="icon mm {{topic|topic_state}}"><!-- --></span>
  
  <div class="item-subject">
	<h3 class="hn mm"><span class="item-num">1</span>
	  {% if topic.closed %}
		<strong>({% trans "Closed" %})</strong>
	  {% endif %}
	  
	  {% if topic.sticky %}
		<strong>({% trans "Sticky" %})</strong>
	  {% endif %}		

      {% if topic.level == 60 %}
		<strong>({% trans "Distillate" %})</strong>
	  {% endif %}		
      {% if topic.topic_type %}
        [{{ topic.topic_type }}]
	  {% endif %}		
      <a href="{% url lbforum_topic topic.id %}">{{ topic.subject }} </a>   
	</h3>
	<p>
		<span class="item-starter">
			Started {{ topic.created_on|date:"Y-m-d H:i" }} by <cite>{{ topic.posted_by }}</cite>
		</span>
		{% post_paginate topic.num_replies TOPIC_PAGE_SIZE %}
	</p>
  </div>
  
  <ul class="item-info">
	<li class="info-replies">
	  <strong>{{ topic.num_replies|add:"-1"}}</strong> 
	  <span class="label">{% trans "replies" %}</span>
	</li>
	<li class="info-views">
	  <strong>{{ topic.num_views }}</strong> 
	  <span class="label">{% trans "views" %}</span>
	</li>
	<li class="info-lastpost">
	  <span class="label">{% trans "Last post" %}</span>
	  <strong><a href="{{ topic.get_absolute_url }}">{{ topic.get_last_post.update|lbtimesince }}</a></strong>
	  <cite>by {{topic.get_last_post.posted_by}}</cite>
	</li>
  </ul>

</div>

