{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbutils %}
{% load lbforum_widget_tags %}

{% block content_right_bar %}
  {% include 'lbforum/widgets/cur_user_profile.html' %}
  <div class="sep20"></div>
  {% lbf_categories_and_forums %}
  <div class="sep20"></div>
  {% lbf_status %}
  <div class="sep20"></div>
  <div class="box" id="friend-links-box">
    <div class="cell">
      <span class="fade">
        {% trans "Friend Links" %}
      </span>
    </div>
    <div class="inner">
      {% include 'lbforum/plugins/inc_friend_links.html' %}
    </div>
  </div>
{% endblock %}

{% block content_content %}
  <div class="box" id="topics_index">
    <div class="cell" align="left">
      <div class="fr"><span style="font-size: 110%;" class="fade">{% get_setting "LBFORUM_SUB_TITLE" %}</span></div>
      <span class="bigger">Welcome to <strong>{% get_setting "LBFORUM_TITLE" %}</strong></span>
      <div class="sep10"></div>
      <a href="{% url 'lbforum_new_topic' %}" class="super normal button">{% trans "Post new topic" %}</a>
    </div>

    {% include 'lbforum/inc_topic_list.html' %}

    <div class="inner">
      <a href="{% url 'lbforum_recent' %}">{% trans "More" %}</a>
    </div>
  </div>
{% endblock %}
