{% extends "lbforum/base.html" %}

{% block title %}{{  block.super }}{% endblock %}

{% block content %}
	<div id="actionbox">
	</div>  

	<div id="brd-wrap" class="brd">
		<div id="brd-viewforum" class="brd-page paged-page">
			{% include 'lbforum/inc_header.html' %}
			{% include 'lbforum/inc_announce.html' %}

			<div class="hr"><hr /></div>

			<div class="crumbs gen-content" id="brd-crumbs-top">
                {% include 'lbforum/inc_forum_brd_crumbs.html' %}
			</div>

<div class="main-wrapper" id="brd-main">


	<div class="main-head">
	<h1 class="hn"><span>Post new topic</span></h1>
</div>
<div class="main-subhead">
		<h2 class="hn"><span>Preview your new topic</span></h2>
	</div>
	<div class="main-content main-frm" id="post-preview">
		<div class="post singlepost">
			<div class="posthead">
				<h3 class="hn"><span class="post-num">#</span> <span class="post-byline"><span>Topic by </span><strong>vicalloy</strong></span> <span class="post-link">Today 23:45:46</span></h3>
			</div>
			<div class="postbody">
				<div class="post-entry">
					<div class="entry-content">
						<p>just</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-subhead">
		<h2 class="hn"><span>Compose and post your new topic</span></h2>
	</div>
	<div class="main-content main-frm" id="post-form">
		<p class="ct-options options">You may use: <span class="item1"><a title="Help with: BBCode" href="http://fluxbb.org/forums/help/bbcode/" class="exthelp">BBCode</a></span> <span><a title="Help with: Images" href="http://fluxbb.org/forums/help/img/" class="exthelp">Images</a></span> <span><a title="Help with: Smilies" href="http://fluxbb.org/forums/help/smilies/" class="exthelp">Smilies</a></span></p>
		<div class="req-warn ct-box error-box" id="req-msg">
			<p>All fields labelled <em>(Required)</em> must be completed before the form is submitted.</p>
		</div>
		<form action="http://fluxbb.org/forums/new/topic/17/" accept-charset="utf-8" method="post" class="frm-form" id="afocus">
			<div class="hidden">
				<input type="hidden" value="1" name="form_sent"/>
				<input type="hidden" value="vicalloy" name="form_user"/>
				<input type="hidden" value="120c533acfd7128cc98a45c1c08a429842b83fa4" name="csrf_token"/>
			</div>
			<fieldset class="frm-group group1">
				<legend class="group-legend"><strong>Required information</strong></legend>
				<div class="sf-set set1">
					<div class="sf-box text required longtext">
						<label for="fld1"><span>Topic subject: <em>(Required)</em></span></label><br/>
						<span class="fld-input"><input type="text" maxlength="70" size="80" value="hello." name="req_subject" id="fld1"/></span>
					</div>
				</div>
				<div class="txt-set set2">
					<div class="txt-box textarea required">
						<label for="fld2"><span>Write message: <em>(Required)</em></span></label>
						<div class="txt-input"><span class="fld-input"><textarea cols="95" rows="14" name="req_message" id="fld2">just</textarea></span></div>
					</div>
				</div>
				<fieldset class="mf-set set3">
					<legend><span>Optional post settings:</span></legend>
					<div class="mf-box checkbox">
						<div class="mf-item"><span class="fld-input"><input type="checkbox" value="1" name="hide_smilies" id="fld3"/></span> <label for="fld3">Never show smilies as icons (images) for this post.</label></div>
					<div class="mf-item"><span class="fld-input"><input type="checkbox" value="1" name="subscribe" id="fld4"/></span> <label for="fld4">Subscribe to this topic.</label></div>
					</div>
				</fieldset>
			</fieldset>
			<div class="frm-buttons">
				<span class="submit"><input type="submit" value="Submit topic" name="submit"/></span>
				<span class="submit"><input type="submit" value="Preview topic" name="preview"/></span>
			</div>
		</form>
	</div>


</div>

<div class="crumbs gen-content" id="brd-crumbs-end">
    {% include 'lbforum/inc_forum_brd_crumbs.html' %}
</div>

<div class="hr"><hr /></div>

{% include 'lbforum/inc_copyright.html' %}

  </div>
</div>
{% endblock %}
