{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load lbforum_widget_tags %}
{% load el_pagination_tags %}
{% load lbutils %}

{% block title %}
  {% trans "Recent Topics" %} - {% get_setting 'LBFORUM_TITLE' %}
{% endblock %}

{% block content_right_bar %}
  {% include 'lbforum/widgets/cur_user_profile.html' %}
  <div class="sep20"></div>
  {% lbf_categories_and_forums %}
{% endblock %}

{% block content_content %}
  <div class="box">
    <div class="cell ">
      <span class="bigger">
        <a href="{% url 'lbforum_index' %}">{% trans "Home" %}</a>
        <span class="chevron">&raquo;</span>
        {% trans "Recent Topics" %}
      </span>
    </div>
    {% paginate topics %}
    {% include 'lbforum/inc_topic_list.html' %}
    <div class="inner">
      {% show_pages %}
    </div>
  </div>
{% endblock %}
