{% extends 'lbforum/base.html' %}

{% load lbforum %}

{% block title %}
    {{ topic.subject }} - {{ block.super }}
{% endblock %}

{% block content %}

    {% load thumbnail %} 

    <div id="replybox">
        <div id="actionbox">
        </div>
    </div>


    <div id="brd-wrap" class="brd">
        <div id="brd-viewtopic" class="brd-page paged-page">
            {% include 'lbforum/inc_header.html' %}
            {% include 'lbforum/inc_announce.html' %}

            <div class="hr"><hr/></div>

            <!-- bread crumbs begin -->
<div id="brd-crumbs-top" class="crumbs gen-content">
    <p>
        <span class="crumb crumbfirst">
            <a href="#">{{ config.name }}</a>
        </span> 
        <span class="crumb">
            <span> &raquo; </span>
            <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a>
        </span> 
        <span class="crumb crumblast">
            <span> &raquo; </span>
            <a href="{{ topic.get_absolute_url }}">{{ topic.subject }} </a>
        </span> 
    </p>  
</div>
<!-- bread crumbs end -->

<!-- ====================================================== -->
<div class="main-wrapper" id="brd-main">

    <div class="main-pagepost gen-content" id="brd-pagepost-top">
        {% load pagination_tags %}
        {% autopaginate posts 2 %}
        {% paginate %}
        <p class="posting">
            You must <a href="#">login</a> or <a href="#">register</a> to post a new topic
        </p>
    </div>
    <div class="main-head">
        <h1 class="hn"><span><a title="Permanent link to this topic" rel="bookmark" href="{{ topic.get_absolute_url }}" class="permalink">{{ topic }}</a></span></h1>
    </div>
    <div class="main-pagehead">
        <h2 class="hn"><span><span class="item-info">Posts [ {{topic.num_replies}} ]</span></span></h2>
    </div>

    <div class="main-content main-topic" id="forum">
        {% for post in posts %}     
            <!-- lastpost replypost -->
            <div class="post {% cycle 'odd' 'even' %} {{forloop|post_style}}" id="p{{post.pk}}">
            <div class="posthead">
                <h3 class="hn post-ident">
                    <span class="post-num">1</span>
                    <span class="post-byline">
                        <span>Topic by </span>
                        <a href="{{ topic.posted_by.get_absolute_url }}">{{topic.posted_by.username}}</a>
                    </span>
                    <span class="post-link">
                        {{ post.created_on|timesince }}
                    </span>
                </h3>
            </div>
            <div class="postbody">
                <div class="post-author">
                    <ul class="author-ident">
                        <li class="username"> <a href="{{ topic.posted_by.get_absolute_url }}">{{topic.posted_by.username}}</a> </li>
                        <li class="usertitle"><span>Member</span></li>
                        <li class="userstatus"><span>{{topic.posted_by|online}}</span></li>
                    </ul>
                    <ul class="author-info">
                        <li><span>Registered: <strong>{{ post.posted_by.date_joined|date:"Y-m-d" }}</strong></span></li>
                        <li><span>Posts: <strong>{{ post.posted_by.lbforum_profile.get_total_posts  }}</strong></span></li>
                    </ul>
                </div>
                <div class="post-entry">
                    <div class="entry-content">
                        <p>{{ post.htmlfrombbcode|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
		{% endfor %}
    </div>
    <div class="main-options gen-content">
        <h2 class="hn"><span>Topic options</span></h2>
        <p class="options"><span class="feed item1"><a href="http://fluxbb.org/forums/feed/rss/topic/3457/" class="feed-option">RSS topic feed</a></span></p>
    </div>
    <div class="main-pagepost gen-content" id="brd-pagepost-end">
        <p class="paging"><span class="pages">Pages:</span> <strong class="item1">1</strong></p>
        <p class="posting">You must <a href="http://fluxbb.org/forums/login/">login</a> or <a href="http://fluxbb.org/forums/register/">register</a> to post a reply</p>
    </div>
</div>



<!-- ============================================================================ -->

<div  id="belowpostreplybox" class="crumbs gen-content">	

    {% if not topic.is_closed %}
        {% if user.is_authenticated %}
            <a href="#" onclick="return isUserAuthenticated(2)">Post Reply</a> &nbsp; &nbsp;
        {% else %}
            (<a href="#?next={{ topic.get_absolute_url }}">Login to Post Reply</a>) &nbsp; &nbsp;
        {% endif %}
    {% endif %}

    <span style='float: right;'>
    </span>
</div>

{% if not topic.is_closed and user.is_authenticated %}
    <!-- formbox begins -->
<div id="formbox" class="magicbox">
    <form action="#" method="POST" id="fpostreply"  >            
        <table>
            <tbody> 
                {{ replyform.as_table }}
                <tr>
                    <th> </th>
                    <td>
                        <input type="submit" value="Post Reply" onClick="return check_errors_in_Replyform()" />
                        &nbsp; <span class="closebutton"> <a href="" onclick="return hideForm()">close</a>  </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="authenticated"  value="{{ user.is_authenticated }}" />
        <input type="hidden"  name="topicid"  value="{{topic.id}}" />
    </form>
</div>   
<!-- formbox ends -->
  {% endif %}

  <div class="hr"><hr /></div>
  <div id="brd-about" class="gen-content">
      <p id="copyright">Powered by <strong><a href="#">Djorum</a></strong></p>
      <p id="extensions-used">Copyright &copy; 2008 <a href="/">Usware</a></p>
  </div>

</div>
</div>
{% endblock %}
