{% extends "lbforum/base.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}

{% block title %}{{  block.super }}{% endblock %}

{% block content %}
	<div id="actionbox">
	</div>  

	<div id="brd-wrap" class="brd">
		<div id="brd-searchposts" class="brd-page paged-page">
			{% include 'lbforum/inc_header.html' %}
			{% include 'lbforum/inc_announce.html' %}

			<div class="hr"><hr /></div>

			<div class="crumbs gen-content" id="brd-crumbs-top">
				<p>
					<span class="crumb crumbfirst">
						<a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
					</span> 
					<span class="crumb crumblast">
						<span>&raquo;</span>
						{% blocktrans %}Posts by {{view_user}}{% endblocktrans %}
					</span> 
				</p>
			</div>

			<div id="brd-main">
				<div class="main-pagepost gen-content" id="brd-pagepost-top">
					{% load pagination_tags %}
					{% autopaginate posts TOPIC_PAGE_SIZE %}
					{% paginate %}
					<p class="posting">
					</p>
				</div>
				<div class="main-head">
					<h1 class="hn">
						<span>
							{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}
							<small></small>
						</span>
					</h1>
				</div>

				<div class="main-pagehead">
					<h2 class="hn"><span><span class="item-info">{% trans "Posts" %} [ {% page_range_info page_obj %} ]</span></span></h2>
				</div>
				<div class="main-content main-topic" id="forum">
					{% for post in posts %}     
						<div class="post {% cycle 'odd' 'even' %} {{forloop|post_style}}" id="p{{post.pk}}">
							<div class="posthead">
								<h3 class="hn post-ident">
									<span class="post-num">{% page_item_idx page_obj forloop %}</span>
									<span class="post-byline">
										<span>{% trans "Topic by" %} </span>
										<a href="{% url lbforum_user_profile post.posted_by.pk %}">{{post.posted_by.username}}</a>
									</span>
									<span class="post-link">
										<a href="{{ post.get_absolute_url }}" title="Permanent link to this post" rel="bookmark" class="permalink">{{ post.created_on|lbtimesince }}</a>
									</span>
								</h3>
								<h4 class="hn post-title">
									<span>
										<a href="{{ post.topic.get_absolute_url }}" title="Permanent link to this topic" rel="bookmark" class="permalink">{{ post.subject }}</a> 
										<small>({{ post.topic.num_replies|add:"-1" }} {% trans "replies" %}, {% trans "posted in" %} <a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum }}</a>)</small>
									</span>
								</h4>
							</div>
							<div class="postbody">
								<div class="post-author">
									<ul class="author-ident">
										<li class="username"> <a href="{% url lbforum_user_profile post.posted_by.pk %}">{{post.posted_by.username}}</a> </li>
									</ul>
								</div>
								<div class="post-entry">
									<div class="entry-content">
										<p>{{ post.message|bbcode|safe }}</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="main-options gen-content">
					<p class="options"></p>
				</div>

				<div class="main-pagepost gen-content" id="brd-pagepost-end">
					{% paginate %}	
					<p class="posting">
					</p>
				</div>

			</div>

			<div class="crumbs gen-content" id="brd-crumbs-end">
				<p>
					<span class="crumb crumbfirst">
						<a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
					</span> 
					<span class="crumb crumblast">
						<span>&raquo;</span>
						{% blocktrans %}Topics by {{view_user}}{% endblocktrans %}
					</span> 
				</p>
			</div>

			<div class="hr"><hr /></div>

			{% include 'lbforum/inc_copyright.html' %}

		</div>
	</div>
{% endblock %}
