{% extends 'account/base.html' %}

{% load i18n %}
{% load lbforum %}
{% load avatar_tags %}

{% block title %}
	{{ topic.subject }} - {{ block.super }}
{% endblock %}

{% block brd-page-id %}brd-profile-avatar{% endblock %}

{% block main_menu_avatar_class %}active{% endblock %}
{% block main_head %}{{ user }}'s profile : Avatar{% endblock %}
{% block main_subhead %}Please select the avatars that you would like to delete.{% endblock %}

{% block account_main_content %}
	<form enctype="multipart/form-data" method="POST" action="">
		<div class="hidden">
			{% csrf_token %}
		</div>
		<fieldset class="frm-group group1">
			<legend class="group-legend"><strong>Avatar</strong></legend>
			<div class="ct-set info-set set1">
				<div class="ct-box info-box">
					<h3 class="hn ct-legend">Current avatar</h3>
					<p>
						<ul>
							{{ delete_avatar_form.choices }}
						</ul>
					</p>
				</div>
			</div>
		</fieldset>
		<div class="frm-buttons">
			<span class="submit"><input type="submit" value="Delete These" /></span>
		</div>
	</form>
{% endblock %}
