{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_tags %}
{% load lbforum_filters %}
{% load staticfiles %}
{% load lbutils %}

{% block content_right_bar %}
  <div class="box">
    <div class="cell">
      {% trans "Bio" %}
    </div>
    <div class="inner user-bio">
      {{ view_user.lbforum_profile.bio|bbcode }}
    </div>
  </div>

  <div class="sep20"></div>
  <div class="box">
    <div class="inner">
      <ul>
        <li class="item1 {% block main_menu_profile_class %}{% endblock %}">
          {% if not view_user or view_user == user %}
            <a href="{% url 'lbforum_profile' %}"><span>{% trans "Introduction" %}</span></a>
          {% else %}
            <a href="{% url 'lbforum_profile' user_id=view_user.pk %}"><span>{% trans "Introduction" %}</span></a>
          {% endif %}
        </li>
        {% if not view_user or view_user == user %}
          <li class="{% block main_menu_change_profile_class %}{% endblock %}">
            <a href="{% url 'lbforum_change_profile' %}"><span>{% trans "Change profile" %}</span></a>
          </li>
          <li class="{% block main_menu_change_password_class %}{% endblock %}">
            <a href="{% get_setting 'CHANGE_PASSWORD_URL' %}"><span>{% trans "Change password" %}</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript">
    $('.user-bio a').attr({ target: "_blank" });
  </script>
{% endblock %}
