{% extends 'account/base.html' %}

{% load i18n %}
{% load lbforum %}
{% load avatar_tags %}

{% block title %}
	{{ topic.subject }} - {{ block.super }}
{% endblock %}

{% block brd-page-id %}brd-profile-about{% endblock %}

{% block main_menu_profile_class %}active{% endblock %}
{% block main_head %}{{ view_user }}'s profile{% endblock %}
{% block main_subhead %}Welcome to your profile{% endblock %}

{% block account_main_content %}
    {% if user == view_user %}
	<p class="content-options options">
		<span class="item1"><a href="{% url auth_password_change %}">Change your password</a></span> 
	</p>
    {% endif %}
    
	<div class="profile ct-group data-group vcard">
		<div class="ct-set data-set set1">
			<div class="ct-box data-box">
				<ul class="user-ident ct-legend">
                    <li class="username fn nickname"><strong>{{ view_user }}</strong></li>
					<li class="usertitle"><span>Member</span></li>					</ul>
				<ul class="data-list">
					<li><span>Registered: <strong>{{view_user.date_joined|date:"Y-m-d"}}</strong></span></li>
					<li><span>Last login: <strong>{{view_user.last_login|date:"Y-m-d"}}</strong></span></li>
					<li><span>Posts: <strong>{{view_user.post_set.all.count}}</strong></span></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
